---
import AddCartProduct from "./AddCartProduct";
const { id_product, is_unlimited, product_name, product_price, url_image, product_description } = Astro.props;
const apiOrdersUrl = import.meta.env.VITE_API_ORDERS_URL;

// añadir descripción e imagen
---

<main class="top-container">
    <section class="image-container">
        <img 
            src={url_image} alt="imagen producto" class="product-image" 
            transition:name={product_name + "-" + id_product} />
    </section>

    <section class="product-details-container">
        <h1 class="product-name">{product_name}</h1>
        <h2 class="product-description">{product_description}</h2>
        <p>{product_price.toFixed(2)} €</p>

        <AddCartProduct 
            apiOrdersUrl={apiOrdersUrl}
            idProduct={id_product} 
            productPrice={product_price} client:only="react"/>


        {!is_unlimited && 
        <div class="product-limited-container">
            <span class="product-limited-alert">Este producto deberá ser pagado en caja</span>
        </div>}

    </section>
</main>

<style>
    .top-container {
        min-height: 100vh;

        margin: 10px;
        padding: 10px;
        border: 1px solid black;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }
    @media screen and (max-width: 700px) {
        .top-container {
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }
    }

    .image-container {
        border: 1px solid black;
        width: 100%;
        margin: 10px;
        padding: 10px;
        overflow: hidden;
        aspect-ratio: 1/1;
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: 300px;
        max-width: 300px;
    }
    .product-image {
        width: 100%;
        height: 100%;
        object-fit: contain;
        max-height: 300px;
        max-width: 300px;
    }

    .product-details-container {
        border: 1px solid black;
        border-radius: 10px;
        margin: 10px;
        padding: 10px;
        box-sizing: border-box;
        width: 100%;
        max-height: 300px;
        max-width: 300px;
    }
    .product-name {
        text-transform: capitalize;
    }
    .product-description {
        font-weight: 100;
    }

    .product-limited-container {
        display: flex;
        width: 100%;
        margin-top: 20px;
        justify-content: center;
    }
    .product-limited-alert {
        color: gray;
    }
</style>