---
import AddCartProduct from "./AddCartProduct";
const { img_url, id_product, is_unlimited, product_name, product_price } = Astro.props;
const apiOrdersUrl = import.meta.env.VITE_API_ORDERS_URL;
// añadir descripción e imagen
---

<main class="top-container">
    <section class="image-container">
        <img src={img_url} alt="imagen producto">
    </section>

    <section class="product-details-container">
        <h1 class="product-name">{product_name}</h1>

        <AddCartProduct 
            apiOrdersUrl={apiOrdersUrl}
            idProduct={id_product} 
            productPrice={product_price} client:only="react"/>


        {!is_unlimited && 
        <div class="product-limited-container">
            <span class="product-limited-alert">Este producto deberá ser pagado en caja</span>
        </div>}

    </section>
</main>

<style>
    .top-container {
        margin: 10px;
        padding: 10px;
        border: 1px solid black;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }
    @media screen and (max-width: 600px) {
        .top-container {
            flex-direction: column;
        }
    }

    .image-container {
        border: 1px solid black;
        width: 100%;
        margin: 10px;
        padding: 10px;
        box-sizing: border-box;

    }
    .product-details-container {
        border: 1px solid black;
        border-radius: 10px;
        margin: 10px;
        padding: 10px;
        box-sizing: border-box;
        width: 100%;
    }
    .product-name {
        text-transform: capitalize;
    }



    .product-limited-container {
        display: flex;
        width: 100%;
        margin-top: 20px;
        justify-content: center;
    }
    .product-limited-alert {
        color: gray;
    }
</style>